<div class="card shadow-sm rounded p-4">
  <!-- Revenue Summary -->
  <div class="text-center mb-4">
    <h4 class="fw-bold">Revenue Summary</h4>
  </div>

  <!-- Revenue Details -->
  <div class="row">
    <!-- Total Revenue -->
    <div class="col-md-6">
      <div class="card text-white bg-success mb-3">
        <div class="card-body text-center">
          <h5 class="card-title">Total Revenue</h5>
          <h3 class="fw-bold"> {{ customerResponse.customer.totalRevenue | currency : "LKR" }}</h3>
        </div>
      </div>
    </div>
    <!-- Ongoing Revenue -->
    <div class="col-md-6">
      <div class="card text-white bg-warning mb-3">
        <div class="card-body text-center">
          <h5 class="card-title">Ongoing Revenue</h5>
          <h3 class="fw-bold"> {{ customerResponse.customer.ongoingRevenue | currency :'LKR' }}</h3>
        </div>
      </div>
    </div>
  </div>
  

