<nav class="navbar navbar-expand-lg fixed-top mt-0  mb-5 bg-white  shadow p-3 bg-dark">
  <div class="container">
    <!-- Logo and Brand Name -->
    <img src="BGR car (2).png" alt="Logo" width="200px" height="70px " class="bg-primary  ">

    <!-- Toggle button for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas Menu -->
    <div class="offcanvas offcanvas-end  flex-column justify-content-center  d-flex align-items-center  w-30"
      tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-dark pe-4 ps-4 " id="offcanvasRightLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-dark " data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item p-2">
            <a class="nav-link active text-dark  fw-bold" routerLink="/" routerLinkActive="text-warning"  aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link text-dark  fw-bold" routerLink="./explorecar" routerLinkActive="text-warning"  role="button" aria-expanded="false">Explore Car</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link text-dark fw-bold " routerLinkActive="text-warning"  routerLink="./about">About Us</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link text-dark  fw-bold" routerLinkActive="text-warning"  routerLink="./contact">Contact Us</a>
          </li>
          <ng-container *ngIf="role === 'Admin'">
            <li class="nav-item p-2  ">
              <a class="nav-link text-dark fw-bold" routerLink="../dashboard" role="button" aria-expanded="false">Dashboard</a>
            </li>
          </ng-container>
        </ul>
        <!-- Login button inside the offcanvas -->

      </div>

    </div>
    
    <div class="d-flex mt-3 me-4" *ngIf="!token || !role">
      <!-- Show the Login button if the token or role is not present -->
      <a routerLink="/login" class="btn btn-outline-primary    w-100">
        Login
      </a>
    </div>
    
    <div class="d-flex me-5" *ngIf="token && role">
      <!-- Show the profile image only if both token and role are present -->
      <a routerLink="./profile">
        <img src="IMAGE/person.jpg" class="rounded-circle" alt="Profile Picture" width="40" height="40">
      </a>
    </div>
    
  </div>




</nav>