/* .navbar,.offcanvas {
    background-color: #0d0df9;

} */
/* .offcanvas-title{background-color: #ff914d;} */

.collapse{
    margin-right: 25%;
} 
.nav-link.active-link {
    background-color: rgb(242, 242, 245);
    border-radius: 5px;  
}
  /* .navbar-toggler{
    background-color: #223af0;
  } */

  /* .btn-outline-orange {
    color: #efece9;
    border-color: #f7f6f5;
  } */
  
  .btn-outline-orange:hover {
    background-color: #fd7e14;
    color: #fff;
  }
  .offcanvas{width: 75%;
    background-color: rgba(245, 243, 243, 0.5); /* Adjust the transparency */
    backdrop-filter: blur(5px); /* Optional: Adds a blur effect */
  }