<div class="contact-container">
    <div class="form-section">
        <h2 style=" color: #91a1e6;">Contact Us</h2>
        <p>Have a specific inquiry or looking to explore new opportunities? Our experienced team is ready to engage with you.</p>
        <form>
            <div class="input-group">
                <input type="text" placeholder="Full Name" required>
            </div>
           
            <div class="input-group">
                <input type="text" placeholder="City" required>
                
            </div>
            <div class="input-group">
                <input type="tel" placeholder="Phone No." required>
            </div>
            <div class="input-group">
                <input type="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <textarea placeholder="Write Message" required></textarea>
            </div>
            <button type="submit">Send Message</button>
        </form>
        <div class="contact-info">
            <p>📧 helloteachme.lk     📞 +94 74 39 05 944</p>

        </div>
    </div>
    <div class="map-section">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31421.342617303355!2d80.0277775!3d9.7335571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afe4886b5f9f7d1%3A0xfdaeb50dd4a4c9b!2sZent!5e0!3m2!1sen!2slk!4v1670837362271!5m2!1sen!2slk" 
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
</div>