.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ebd9d9;
    color: white;
    padding-top: 1rem;
    position: fixed;
  }
  
  .sidebar-links {
    list-style: none; /* Remove default list bullets */
    padding: 0;
  }
  
  .sidebar-links li {
    padding: 0.5rem 1rem;
  }
  
  .menu-item {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between; /* Align icon to the right */
    align-items: center;
    cursor: pointer;
  }
  
  .sub-menu {
    list-style: none; /* Remove bullets from sub-menu items */
    padding-left: 1.5rem; /* Indent sub-menu */
    margin: 0.5rem 0;
    position: relative;
    border-left: 2px solid #888; /* Vertical line for tree */
  }
  
  .sub-item {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    padding: 0.5rem 0;
    position: relative;
  }
  
  .sub-item::before {
    content: "";
    position: absolute;
    left: -1.5rem; /* Position line to the left of the text */
    top: 50%;
    width: 10px; /* Length of the horizontal line */
    border-bottom: 2px solid #888; /* Horizontal line */
  }
  
  .menu-item:hover,
  .sub-item:hover {
    background-color: #555;
  }
  
  .icon {
    font-weight: bold;
    margin-left: 0.5rem;
    color: #ccc;
  }
  