.card {
    /* border-radius: 15px; */
    box-shadow: 5px 5px 8px #080808;
    overflow: hidden;
    text-align: start;
  }

  .price-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #1f0259;
    color: #ff4949;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  .card-body .rating {
    color: #ffcc00;
    font-size: 18px;
  }

  .card-body h5 {
    font-weight: bold;
  }

  .card-body .feature {
    font-size: 18px;
    color: #060000;
  }


  .card-img-top:hover {

    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
  }