
<div class="outer">
  <div class="container">
    <section class="vh-100">
      <div class="row d-flex justify-content-center align-items-center h-100">

         <div class="col-xl-8 col-lg-10">
          <div class="card shadow-lg" style="border-radius: 1rem;">
            <div class="row g-0">

               <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="car02.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; object-fit: cover; height: 100%; width: 100%;" />
              </div>

               <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                   <div class="text-center mb-3">
                    <h3 class="font-weight-bold mb-4 text-danger">Sign Up</h3>
                    <p>Enter your details to create your account</p>
                  </div>

                   <form action="" class="mb-4" [formGroup]="signUpForm">

                     <div class="form-row mb-3">
                      <div class="col">
                        <div class="input-group">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                          <input formControlName="firstName" type="text" class="form-control" placeholder="First Name">
                        </div>
                        <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.controls['firstName'].hasError('required')" class="text-danger">*First name is required</small>
                      </div>
                      <div class="col">
                        <div class="input-group">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                          <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name">
                        </div>
                        <small *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.controls['lastName'].hasError('required')" class="text-danger">*Last name is required</small>
                      </div>
                    </div>

                     <div class="form-group mb-3">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        <input formControlName="email" type="email" class="form-control" placeholder="Email">
                      </div>
                      <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.controls['email'].hasError('required')" class="text-danger">*Email is required</small>
                      <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.controls['email'].hasError('email')" class="text-danger">*Invalid email format</small>
                    </div>

                     <div class="form-group mb-3">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input formControlName="password" [type]="typePassword" class="form-control" placeholder="Password">
                        <span class="input-group-text" (click)="hideShowPassword()"><i class="fa {{eyeIconPassword}}"></i></span>
                      </div>
                      <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.controls['password'].hasError('required')" class="text-danger">*Password is required</small>
                      <small *ngIf="signUpForm.controls['password'].hasError('noUppercase') && signUpForm.controls['password'].dirty" class="text-danger">*Password must contain at least one uppercase letter!</small>
                      <small *ngIf="signUpForm.controls['password'].hasError('noNumber') && signUpForm.controls['password'].dirty" class="text-danger">*Password must contain at least one number!</small>
                      <small *ngIf="signUpForm.controls['password'].hasError('minLength') && signUpForm.controls['password'].dirty" class="text-danger">*Password must be more than 8 characters</small>
                    </div>

                     <div class="form-group mb-3">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input formControlName="confirmPassword" [type]="typeConfirmPassword" class="form-control" placeholder="Confirm Password">
                        <span class="input-group-text" (click)="hideShowConfirmPassword()"><i class="fa {{eyeIconConfirmPassword}}"></i></span>
                      </div>
                      <small *ngIf="signUpForm.controls['confirmPassword'].dirty && signUpForm.controls['confirmPassword'].hasError('required')" class="text-danger">*Confirm password is required</small>
                    </div>

                     <small *ngIf="signUpForm.hasError('passwordMismatch') && (signUpForm.controls['confirmPassword'].dirty || signUpForm.controls['password'].dirty)" class="text-danger">*Passwords do not match!</small>

                     <button (click)="onSignUp()" type="submit" class="btn btn-dark btn-block mb-3">Sign Up</button>

                     <div class="text-center text-muted ">Already have an account? <a id="forget" routerLink="/login" class="text-danger">Login</a></div>

                     <div class="text-center my-4">
                      <a href="https://www.facebook.com" target="_blank" class="px-2"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Facebook_Logo_2023.png" alt="FB" width="20px"></a>
                      <a href="https://www.google.com" target="_blank" class="px-2"><img src="https://image.similarpng.com/very-thumbnail/2020/06/Logo-google-icon-PNG.png" alt="Google"  width="20px"></a>
                          <a href="https://www.x.com" target="_blank" class="px-2"><img src="https://freepnglogo.com/images/all_img/1691832581twitter-x-icon-png.png" alt="Social media"  width="20px"></a>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div> 
