<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Navbar</a>
    <div class="">
        <h4>
            Hello <span class="text-success">{{fullName}}!</span>
        </h4>
    </div>
    <button (click)="logout()" class="btn btn-danger">Logout</button>
</nav>

<ng-container *ngIf="role ==='Admin'">
    <div>
        sabcgjfhjdihokds
        sqwpdihiuqwgdyugqw
        dqdowqhdiuqwguidhqwiodjoqwdghqwgdijhqwiodq
        dwqohqgwuifgiuqwhioqwjdkqvhfqw
        qiodiqwguifqwiuohf
    </div>
</ng-container>