<div class="container-fluid">

    <div class="row">
      <!-- Today's Statistics Column -->
      <div class="col-md-3">
        <app-today-stats></app-today-stats>
      </div>
  
      <!-- Main Content Column -->
      <div class="col-md-9">
        <div class="row mb-4">
          <div class="col-md-12">
          <app-nav-bar></app-nav-bar>
          </div>
        <!-- Car Availability -->
        <div class="row mb-4">
          <div class="col-md-12">
            <app-car-availability></app-car-availability>
          </div>
        </div>
  
        <!-- Live Car Status and Earning Summary -->
        <div class="row mb-4">
          <div class="col-md-12">
            <app-live-car-status></app-live-car-status>  
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-12">
            <app-earning-summary></app-earning-summary>  
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  
