
 
    .hero-section {
      background-size: cover;
      padding: 100px 0;
      
    }

    .hero-text {
      padding: 20px;
      border-radius: 10px;
      height: auto;
    }

    .car {
      animation: moveRightToLeft 1.5s ease-in-out forwards;
      max-width: 100%;
      height: auto;
    }

    @keyframes moveRightToLeft {
      0% {
        transform: translateX(300px);
      }

      100% {
        transform: translateX(-10px);
      }
    }

   