

    <div id="heroCarousel" class="carousel slide hero-section" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div
          *ngFor="let item of carouselItems; let i = index"
          class="carousel-item"
          [class.active]="i === 0"
        >
          <div class="container hero-text">
            <div class="row align-items-center">
              <div class="col-md-6 text-center text-md-start">
                <h1 class="display-5 fw-bold mb-3">{{ item.title }}</h1>
                <p class="mb-4">{{ item.description }}</p>
              </div>
              <div class="col-md-6 text-center">
                <img [src]="item.imageUrl" class="car" [alt]="item.altText" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
 
  