<div class="container mt-4">
    <h5 class="mb-4">Cancelled History</h5>
<div class="table-responsive">
        <table class="table table-striped table-bordered" style="max-height: 400px; overflow-y: auto;">
            <thead class="thead-dark">
                <tr>
                    <th>No</th>
                    <th>Customer NIC</th>
                    <th>Car Registration No</th>
                    <th>Request Date</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Price</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rented of rentals | rentalFilter:query; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ rented.nic }}</td>
                    <td>{{ rented.regNo }}</td>
                    <td>{{ formatDate(rented.requestDate) }}</td>
                    <td>{{ formatDate(rented.startDate) }}</td>
                    <td>{{ formatDate(rented.endDate) }}</td>
                    <td>{{ rented.totalPrice | currency:'LKR.' }}</td>
                    <td>
                        {{rented.status}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="rentals?.length === 0" class="text-center text-muted mt-3">
        <p>No cancelled history found .</p>
    </div>
</div>