<div>
    <h5 class="mb-3">Change Password</h5>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group pt-3 row mx-1">
        <div class="input-field"
          [class.error]="form['oldPassword'].invalid && form['oldPassword'].touched">
          <span class="fa fa-lock p-2"></span>
          <input formControlName="oldPassword" [type]="typeConfirmPassword"
            placeholder="Current Password" />
          <span (click)="togglePasswordVisibility('password')"
            class="fa {{ eyeIconPassword }} px-2"></span>
        </div>
        <!-- Confirm Password Error Messages -->
        <small *ngIf="form['oldPassword'].dirty && form['oldPassword'].hasError('required')"
          class="text-danger">*Old Password is required</small>
      </div>
      <div class="form-group pt-3 row mx-1">
        <div class="input-field" [class.error]="form['newPassword'].invalid && form['newPassword'].touched">
          <span class="fa fa-lock p-2"></span>
          <input formControlName="newPassword" [type]="typePassword" placeholder="New Password" />
          <span (click)="togglePasswordVisibility('newPassword')"
            class="fa {{ eyeIconNewPassword }} px-2"></span>
        </div>
        <!-- Password Error Messages -->
        <small *ngIf="form['newPassword'].dirty && form['newPassword'].hasError('required')"
          class="text-danger">*Password is required</small>
        <small *ngIf="form['newPassword'].dirty && form['newPassword'].hasError('noUppercase')"
          class="text-danger">*Must contain at least one uppercase letter</small>
        <small *ngIf="form['newPassword'].dirty && form['newPassword'].hasError('noNumber')"
          class="text-danger">*Must contain at least one number</small>
        <small *ngIf="form['newPassword'].dirty && form['newPassword'].hasError('minlength')"
          class="text-danger">*Must be at least 8 characters</small>
      </div>

      <div class="form-group pt-3 row mx-1">
        <div class="input-field"
          [class.error]="form['confirmPassword'].invalid && form['confirmPassword'].touched">
          <span class="fa fa-lock p-2"></span>
          <input formControlName="confirmPassword" [type]="typeConfirmPassword"
            placeholder="Confirm Password" />
          <span (click)="togglePasswordVisibility('confirmPassword')"
            class="fa {{ eyeIconConfirmPassword }} px-2"></span>
        </div>
        <!-- Confirm Password Error Messages -->
        <small *ngIf="form['confirmPassword'].dirty && form['confirmPassword'].hasError('required')"
          class="text-danger">*Confirm Password is required</small>
        <small *ngIf="updatePasswordForm.hasError('passwordMismatch')" class="text-danger">*Passwords do
          not match</small>
      </div>

      <button type="submit" class="btn btn-primary btn-block"
        >Change Password</button>
    </form>
  </div>