<!-- <div class="container mt-3">
              
    <table class="table-bordered">
      <thead>
        <tr>
          <th>CarRegistation No</th>
          <th>Car Model & Brand</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Total Price</th>
          <th colspan="2">Status</th>
          <th colspan="2">Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>johnexample.com</td>
          <td>johnexample.com</td>
          <td>johnexample.com</td>
          <td colspan="2">
            <button class="btn btn-secondary">Aprove</button>
            <button class="btn btn-danger">Cancel</button>
          </td>
          <td colspan="2">

            <button class="btn btn-secondary">Rent</button>
            <button class="btn btn-success">Retern</button>
          </td>
        </tr>
      
       
      </tbody>
    </table>
  </div>
 -->


 <div class="container mt-3">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>CarRegistation No</th>
          <th>Car Model & Brand</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Total Price</th>
          <th colspan="2">Status</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>johnexample.com</td>
          <td>johnexample.com</td>
          <td>johnexample.com</td>
          <td colspan="2">
            <button class="btn btn-secondary btn-sm">Approve</button>
            <button class="btn btn-danger btn-sm">Cancel</button>
          </td>
          <td colspan="2">
            <button class="btn btn-secondary btn-sm">Rent</button>
            <button class="btn btn-success btn-sm">Return</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
