<div class="container my-4 mt-5">

 <div class="row" *ngIf="car">
  <!-- Left Section - Car Details -->
  <div class="col-lg-8">
    <div class="mb-3">
      <h2>{{ car.brandName }} {{ car.modelName }}</h2>
    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let image of car.images; let i = index" class="carousel-item" [class.active]="i === 0">
          <img [src]="image.imagePath" class="d-block w-100" [alt]="'Car Image ' + (i + 1)">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button> 
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- Right Sidebar -->
  <div class="col-lg-4 p-2">
    <div class="card mb-4">
      

        <div class="card-body">
          <div class="container">
            <div class="row mb-2">
              <!-- Gear Type -->
              <div class="col-md-6 col-6 d-flex align-items-center">
                <i class="fa-solid fa-cogs me-2" style="font-size: 20px;"></i>
                <strong>Gear: </strong>{{ car.gearType }}
              </div>
              <!-- Mileage -->
              <div class="col-md-6 col-6 d-flex align-items-center">
                <i class="fa-solid fa-road me-2" style="font-size: 20px;"></i>
                <strong>Mileage:</strong> {{ car.mileage }}KM
              </div>
            </div>
            
            <div class="row mb-2">
              <!-- Fuel -->
              <div class="col-md-6 col-6 d-flex align-items-center">
                <i class="fa-solid fa-gas-pump me-2" style="font-size: 20px;"></i>
                <strong>Fuel:</strong> {{ car.fuelType }}
              </div>
              <!-- Year -->
              <div class="col-md-6 col-6 d-flex align-items-center">
                <i class="fa-solid fa-calendar-alt me-2" style="font-size: 20px;"></i>
                <strong>Year:</strong> {{ car.year }}
              </div>
            </div>
        
            <div class="row mb-2">
              <!-- Seating Capacity -->
              <div class="col-md-6 col-6 d-flex align-items-center">
                <i class="fa-solid fa-chair me-2" style="font-size: 20px;"></i>
                <strong>Seats:</strong> {{ car.seatCount }}
              </div>
              <!-- Per Day -->
              <div class="col-md-6 col-6 d-flex align-items-center">
                <i class="fa-solid fa-calendar-day me-2" style="font-size: 20px;"></i>
                <strong>Per Day:</strong> ${{ car.pricePerDay }}
              </div>
            </div>
          </div>
        </div>
        

          <!-- Booking Form -->
          <form #bookingForm="ngForm" class="p-3">
            <label for="pickupDate">Pickup Date:</label>
            <input type="date" class="form-control" id="pickupDate"  name="pickupDate" [(ngModel)]="pickupDate"
              (change)="validateDates()"    (input)="checkFields()" />
            <p *ngIf="pickupDateError" class="text-danger">{{ pickupDateError }}</p>

            <label for="returnDate" class="mt-2">Return Date:</label>
            <input type="date" class="form-control"     name="returnDate" [(ngModel)]="returnDate"
              (change)="validateDates()"   (input)="checkFields()"  />
            <p *ngIf="returnDateError" class="text-danger">{{ returnDateError }}</p>

         

            <p *ngIf="dateDifference !== null" class="mt-3">
              <strong>Duration:</strong> {{ dateDifference }} day(s)
            </p>
            <p  *ngIf="dateDifference !== null" class="mt-3">
              <strong>Total Amount:</strong> Rs. {{ car.pricePerDay * dateDifference }}
            </p>

            <button type="submit" 
            class="btn btn-primary w-100 mt-4"
             [disabled]="pickupDateError || returnDateError" (click)="bookNow()" [disabled]="isButtonDisabled" >Book Now</button>
          </form>
      </div>
    </div>
  </div>
</div>    
        <!-- </div> -->
        <hr>
     

