
  <!-- Container for Car Brands -->
<div class="container text-center mt-5 ">
  <h1 class="mt-3" style="font-family: 'Lucida Sans';">Explore Premium Car Brands</h1>
  <div class="row mt-4 justify-content-center ">
    <div
      class="col-lg-2 col-md-3 col-sm-4 col-6 mb-3 "
      *ngFor="let brand of carBrands"
    >
    <a routerLink="./explorecar" (click)="storeBrandName(brand.name)">
      <div class="brand-card">
        <img [src]="brand.image" [alt]="brand.name" class="brand-logo">
        <p class="mt-2">{{ brand.name }}</p>
      </div>
    </a>
     
    </div>
  </div>
</div>

