
 <div class="live-car-status p-3 bg-white rounded shadow-sm">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Recent Rental Requests</h5>
    <a [routerLink]=" ['/dashboard/bookings']">
      <button class="btn btn-sm btn-outline-primary">Details</button>
    </a>
  </div>
  <div class="table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Reg No.</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Rental Status</th>
                  <th scope="col">Earning</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let rental of recentRentals; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ rental.regNo }}</td>
                  <td>{{ rental.firstName }} {{ rental.lastName }}</td>
                  <td>{{ rental.status }}</td>
                  <td>{{ rental.totalPrice.toFixed(2) | currency:'LKR.'}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
