<nav class="navbar">
    <div class="navbar-container">
      <div class="search-container">
        <input type="text" placeholder="Search..." class="search-input" />
      </div>
      
      <div class="profile-container" (click)="toggleDropdown()">
        <img src="images.png" alt="Profile" class="profile-photo" />
        <span class="profile-name">Admin</span>
        <div class="dropdown" *ngIf="isDropdownOpen">
          <ul>
            <li (click)="changePassword()">Change Password</li>
            <li (click)="signOut()">Sign Out</li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
