<div class="container-fluid" style="background-color: #e0f2fd;">
  <div class="row">
    <div class="col-md-3 mt-5 mb-5  ">
      <div class="p-3 border rounded bg-white">
        <div>
          <strong class="text-center  ms-5 fs-4">Change Dates</strong>
          <hr>
          <label for="pickupDate">Pickup Date:</label>
          <input type="date" class="form-control" id="pickupDate" [(ngModel)]="pickupDate" placeholder="pickupDate"
            (change)="validateDates()" />
          <p *ngIf="pickupDateError" class="text-danger">{{ pickupDateError }}</p>
          <label for="returnDate" class="mt-2">Return Date:</label>
          <input type="date" class="form-control" id="returnDate" placeholder="returnDate" [(ngModel)]="returnDate"
            (change)="validateDates()" />
          <p *ngIf="returnDateError" class="text-danger">{{ returnDateError }}</p>
          <br>
          <span *ngIf="dateDifference !== null" class="d-flex justify-content-center mb-2 fs-5">Duration: {{
            dateDifference }} day(s) </span>

          <div class="d-flex justify-content-center">
            <button (click)="updateDates()" class="btn btn-primary   mb-4"
              [disabled]="pickupDateError || returnDateError">
              Save Dates
            </button>
          </div>
        </div>
        <hr>
        <strong class="text-center fs-4">What Are You Looking For</strong>
        <hr>
        <h6>Brand</h6>
        <div class="mb-3">
          <select class="form-select" [(ngModel)]="selectedFilters.brand" (change)="onFilterChange()">
            <option value="">Select brand</option>
            <option *ngFor="let card of cars" [value]="card.brandName">{{ card.brandName}}</option>
          </select>
        </div>
        <h6>Module</h6>
        <div class="mb-3">
          <select class="form-select" [(ngModel)]="selectedFilters.model" (change)="onFilterChange()">
            <option value="">Select Model</option>
            <option *ngFor="let card of cars" [value]="card.modelName">{{ card.modelName }}</option>
          </select>
        </div>
        <h6>Seat Count</h6>
        <div class="mb-3">
          <select class="form-select" [(ngModel)]="selectedFilters.seatCount" (change)="onFilterChange()">
            <option value="">Select seat count</option>
            <option *ngFor="let count of [4, 5, 6, 7, 8, 2]" [value]="count">{{ count }} People</option>
          </select>
        </div>
        <h6>Fuel Type</h6>
        <div class="mb-3">
          <select class="form-select" [(ngModel)]="selectedFilters.fuelType" (change)="onFilterChange()">
            <option value="">Select fuel type</option>
            <option value="Manual">Manual</option>
            <option value="Automatic">Automatic</option>
          </select>
        </div>
        <h6>Gear Type</h6>
        <div class="mb-3">
          <select class="form-select" [(ngModel)]="selectedFilters.gearType" (change)="onFilterChange()">
            <option value="">Select gear type</option>
            <option value="Manual">Manual</option>
            <option value="Automatic">Automatic</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-9 mt-5 mb-5 ">
      <div class="card  shadow-sm bg-white">
        <div class="row g-0">
          <div class="container py-5">
            <div class="container">
              <div class="row g-4">
                <div class="col-md-4" *ngFor="let card of paginatedCars | carFilter:selectedFilters">
                  <div class="card">
                    <div class="position-relative fixed-size " >
                      <img [src]="card.images[0].imagePath" class="card-img-top" alt="Car Image" >
                      <div class="price-tag">{{ card.pricePerDay }}/=</div>
                    </div>
                    <div class="card-body fixed-size">
                      <div class="icon">
                        <i class="fa-solid fa-star text-warning" *ngFor="let _ of [1,2,3,4,5]"
                          style="font-size:12px;"></i>
                      </div>
                      <h5 class="card-title">{{ card.brandName }}/{{ card.modelName }}</h5>
                       <hr>
                      <div class="feature">
                        <span class="icon"><i class="fa-solid fa-chair" style="font-size:20px;"></i></span>
                        SeatCount: {{ card.seatCount }} People
                      </div>
                      <div class="feature">
                        <span class="icon"><i class="fa-solid fa-calendar-alt" style="font-size:20px;"></i></span>
                        Year: {{ card.year }}  
                      </div>
                      <div class="feature">
                        <span class="icon"><i class="fa-solid fa-gas-pump" style="font-size:20px;"></i></span>
                        Fuel Tank: {{ card.fuelType }} 
                      </div>
                      <div class="feature">
                        <span class="icon"><i class="fa-solid fa-cogs " style="font-size:20px;"></i></span>
                        Gear type: {{ card.gearType }}
                      </div>

                      <div class="feature">
                        <span class="icon"><i class="fa-solid fa-times-circle" style="font-size:20px;"></i></span>
                      Status: {{ card.status }}
                      </div>
                      
                      <div>
                        <!-- <a     [routerLink]="card.gearType === 'Automatic' &&! pickupDateError && !returnDateError ? ['/landing/conformrent', card.id] : null"> -->
                          <button type="button" class="btn btn-outline-primary" style="width: 100%;"
                           
                            [class.active]="card.id === selectedCarID"
                            (click)="selectCar(card)"
                            [disabled]="card.status === 'Unavailable' || pickupDateError || returnDateError" >
                            <a  [routerLink]=" ['/landing/conformrent', card.id]">
                            Rent Now
                            </a>
                          </button>
                        <!-- </a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Pagination Controls-->
              <div class="pagination-controls mt-5 d-flex justify-content-center mt-5">
                <button class="btn btn-primary me-2" (click)="prevPage()"
                  [disabled]="currentPage === 1">Previous</button>
                <span>Page {{ currentPage }} of {{ totalPages() }}</span>
                <button class="btn btn-primary ms-2" (click)="nextPage()"
                  [disabled]="currentPage === totalPages()">Next</button>
              </div>
            </div>






          </div>



        </div>
      </div>
    </div>
  </div>
</div>