<div class="outer">
    <div class="container">
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-10">
                        <div class="card" style="border-radius: 1rem;">
                            <div class="row g-0">
                                <!-- Image Section -->
                                <div class="col-md-6 col-lg-5 d-none d-md-block">
                                    <img src="car2.png" alt="login form" class="img-fluid"
                                        style="border-radius: 1rem 0 0 1rem; object-fit: cover; width: 100%; height: 100%;" />
                                </div>
                                <!-- Form Section -->
                                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">
                                        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                                            <div class="text-center mb-3">
                                                <h3 class="font-weight-bold">Sign In</h3>
                                            </div>
                                            <!-- Username Field -->
                                            <div class="form-group pt-3">
                                                <div class="input-field"
                                                    [class.error]="loginForm.controls['username'].dirty && loginForm.controls['username'].hasError('required')">
                                                    <span class="fa fa-user p-2"></span>
                                                    <input formControlName="username" type="text"
                                                        placeholder="NIC / Passport / License">
                                                </div>
                                                <small *ngIf="loginForm.controls['username'].dirty && loginForm.controls['username'].hasError('required')" class="text-danger">
                                                    *Username is required
                                                </small>
                                            </div>
                                            <!-- Password Field -->
                                            <div class="form-group pt-3">
                                                <div class="input-field"
                                                    [class.error]="loginForm.controls['password'].dirty && loginForm.controls['password'].hasError('required')">
                                                    <span class="fa fa-lock p-2"></span>
                                                    <input formControlName="password" [type]="type" placeholder="Password">
                                                    <span (click)="hideShowPassword()" class="fa {{eyeIcon}} px-2"></span>
                                                </div>
                                                <small *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].hasError('required')" class="text-danger">
                                                    *Password is required
                                                </small>
                                            </div>
                                            <!-- Forgot Password -->
                                            <div class="form-inline fr mt-4 d-flex">
                                                <a id="forget" class="font-weight-bold text-danger" data-toggle="modal" data-target="#forgetPasswordModal">
                                                    Forgot Password?
                                                </a>
                                            </div>
                                            <!-- Submit Button -->
                                            <button type="submit" class="btn btn-dark mt-4 w-100">Login</button>
                                            <!-- Sign Up Link -->
                                            <div class="text-center pt-4 text-muted">
                                                Don't have an account? <a id="forget" routerLink="/register">Sign Up</a>
                                            </div>
                                        </form>
                                        <!-- Social Links -->
                                        <div class="mx-3 my-2 py-2 bordert">
                                            <div class="text-center py-3">
                                                <a href="https://www.facebook.com" target="_blank" class="px-2">
                                                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Facebook_Logo_2023.png" alt="Facebook">
                                                </a>
                                                <a href="https://www.google.com" target="_blank" class="px-2">
                                                    <img src="https://image.similarpng.com/very-thumbnail/2020/06/Logo-google-icon-PNG.png" alt="Google">
                                                </a>
                                                <a href="https://www.x.com" target="_blank" class="px-2">
                                                    <img src="https://freepnglogo.com/images/all_img/1691832581twitter-x-icon-png.png" alt="X">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
   
 <div class="modal fade" id="forgetPasswordModal" tabindex="-1" role="dialog"
        aria-labelledby="forgetPasswordModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 350px; height: 150px;">
            <div class="modal-content text-center">
                <div class="modal-header h5 text-white bg-primary justify-content-center">
                    Password Reset
                </div>
                <div class="modal-body px-5">
                    <p class="py-2">
                        Enter your email address and we'll send you an email with instructions to reset your password.
                    </p>
                    <div data-mdb-input-init class="form-outline">
                        <input id="typeEmail" class="form-control my-3" placeholder="Email to reset" type="email"
                            [(ngModel)]="resetPaswordEmail" (ngModelChange)="checkValidEmail($event)" />
                        <span *ngIf="!resetPaswordEmail" class="text-danger">*Email is required</span>
                        <span *ngIf="!isValidEmail && resetPaswordEmail" class="text-danger">*Email is invalid</span>

                    </div>
                    <div class="d-flex justify-content-center">
                        <button id="closeBtn" type="button" class="btn btn-primary d-none"
                            data-dismiss="modal"></button>
                        <button type="button" (click)="confirmToSend()" class="btn btn-primary">Send Reset
                            Email</button>
                    </div>

                </div>
            </div>
        </div>
        <div>