<div class="container-fluid">
    <div class="row">


        <div class="col-md-3 mt-5 ">
            <div class="p-3 border rounded bg-light" >
              <!-- Settings Button -->
              <div class="d-flex flex-column align-items-center justify-content-center">
                <button
                  (click)="changeView('settings')"
                  class="btn btn-outline-primary btn-block btn-lg mt-2"
                  [class.bg-primary]="currentView === ''"
                  [class.text-white]="currentView === ''"
                >
                  Setting
                </button>
              </div>
          
              <!-- History Button -->
              <div class="d-flex flex-column align-items-center justify-content-center">
                <button
                  (click)="changeView('history')"
                  class="btn btn-outline-primary btn-block btn-lg mt-2"
                  [class.bg-primary]="currentView === 'history'"
                  [class.text-white]="currentView === 'history'"
                >
                  History
                </button>
              </div>
          
              <!-- Logout Button -->
              <div class="d-flex flex-column align-items-center justify-content-center">
                <button
                  (click)="logout()"
                  class="btn btn-outline-primary btn-block btn-lg mt-2"
                  [class.text-primary]="currentView === ''"
                >
                  Logout
                </button>
              </div>
            </div>
          </div>
          

        <div class="col-md-9 mt-5">
            <div class="card  shadow-sm">
                <div class="row g-0">
                    <div class="container py-5">
                        <ng-container [ngSwitch]="currentView">
                            <app-profile-navbar *ngSwitchDefault="'settings'"></app-profile-navbar>
                            <app-history *ngSwitchCase="'history'"></app-history>
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>