<!-- Container for Car Types -->
<div class="container text-center mt-5">
  <h1 class="mt-3" style="font-family: 'Lucida Sans';">Explore Car Types</h1>
  <div class="row mt-4">
    <div
      class="col-lg-2 col-md-3 col-sm-4 col-6 mb-3"
      *ngFor="let carType of carTypes"
    >
      <div class="card p-3 border-0">
        <img
          [src]="carType.image"
          [alt]="carType.name"
          class="card-img-top mx-auto"
          style="width: 100px; object-fit: cover;"
        />
        <div class="card-body">
          <p class="card-text">{{ carType.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Additional Features Section -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-3">
      <h1
        class="text-start"
        style="font-family: 'Lucida Sans'; margin-top: 38px;"
      >
        Explore The World With Your Own Way Of Driving
      </h1>
    </div>

    <div
      class="col-md-4 mb-3"
      *ngFor="let feature of features"
    >
      <div class="card p-4 text-center h-100 border-0">
        <div class="display-4">
          <i [class]="feature.icon"></i>
        </div>
        <h5 class="mt-3 fw-bold">{{ feature.title }}</h5>
        <p class="text-secondary">
          {{ feature.description }}
        </p>
      </div>
    </div>
  </div>
</div>
