.animate-top {
    position: relative;
    animation: slideFromTop 2s ease-out forwards;
    background-color: #0c013b;      
    color: aliceblue;
    padding-bottom: 12px;
    border-radius: 10px;
  }

  @keyframes slideFromTop {
    0% {
      transform: translateY(50px);
      /* Starts 100px above its original position */
      opacity: 0;
    }

    100% {
      transform: translateY(-53px);
      /* Ends at its original position */
      opacity: 1;
    }


  }
    .btn-outline-orange {
      color: #efece9;
      border-color: #f8f7f5;
    }
    
    .btn-outline-orange:hover {
      background-color: #fd7e14;
      color: #fff;
    }
