<div class="col-md-12">
    <app-nav-bar></app-nav-bar>
  </div>

    <div class="card shadow-sm border-0 mt-4 ms-3">
        <div class="card-header bg-dark text-white">
            <!-- Tab Navigation -->
            <ul class="nav nav-tabs card-header-tabs">
                <li *ngFor="let tab of tabs" class="nav-item">
                    <button class="nav-link" [ngClass]="{ active: activeTab === tab.id }" (click)="changeTab(tab.id)">
                        {{ tab.label }}
                    </button>
                </li>
            </ul>
        </div>
        <div class="card-body ">
            <ng-container [ngSwitch]="activeTab">

            <!-- Dynamic Tab Content -->
            <app-ongoing-rental-history *ngSwitchCase="'ongoing-rental-history'" ></app-ongoing-rental-history>

                <app-rental-history *ngSwitchCase="'rental-history'"></app-rental-history>
                <app-cancelled-history *ngSwitchCase="'cancelled-history'"></app-cancelled-history>
                <app-overdue-rentals *ngSwitchCase="'overdue-rentals'"></app-overdue-rentals>
            </ng-container>
        </div>
    </div>

