<div class="container mt-4">
    <h5 class="mb-4">OverDue Rentals</h5>
  
    <div class="table-responsive">
        <table class="table table-striped table-bordered" style="max-height: 400px; overflow-y: auto;">
            <thead class="thead-dark">
                <tr>
                    <th>No</th>
                    <th>NIC</th>
                    <th>Reg No</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>No. of OverDues</th>
                    <th>OverDue Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let overdue of overDues | rentalFilter:query; let i = index">
                    <td>{{ i + 1 }}</td> 
                    <td>{{ overdue.nic }}</td>
                    <td>{{ overdue.regNo }}</td>
                    <td>{{ formatDate(overdue.startDate) }}</td>
                    <td>{{ formatDate(overdue.endDate) }}</td>
                    <td>{{overdue.overDueDuration}}</td>
                    <td>{{ overdue.overDueAmount | currency }}</td>
                    <td>
                      {{overdue.status}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  
    <div *ngIf="overDues?.length === 0" class="text-center text-muted mt-3">
        <p>No OverDue Rentals.</p>
    </div>
  </div>