
   .sidebar a {
    color: #ccc; 
    text-decoration: none;
   }
  .sidebar a:hover{
    font-size: 19px;
    background-color: rgb(243, 243, 247);
    color: black;
   }


  .btn-outline-orange {
    color: #efece9;
    border-color: #f7f6f5;
  }
  
  .btn-outline-orange:hover {
    background-color: #fd7e14;
    color: #fff;
  }
  a{text-decoration: none;}