<div class="sidebar">
    <!-- Logo -->
    <div class="sidebar-logo p-3">
      <h2>CAR RENT</h2>
    </div>
  
    <!-- Navigation Links -->
    <a routerLink="main" routerLinkActive="active">
      <i class="fas fa-tachometer-alt"></i>
      Dashboard
    </a>
  
    <a routerLink="customers" routerLinkActive="active">
      <i class="fas fa-users"></i>
      Customers
    </a>
  
    <a routerLink="./bookings" routerLinkActive="active">
      <i class="fas fa-book"></i>
      Bookings
    </a>
  
    <a routerLink="cars" routerLinkActive="active">
      <i class="fas fa-bell"></i>
      Cars
    </a>
  
    <a routerLink="settings" routerLinkActive="active">
      <i class="fas fa-cog"></i>
      Settings
    </a>
  <hr>
    <!-- Report Section Heading -->
    <div class="report-heading mt-3 mb-1 p-3 text-white">Report</div>
  
    <a routerLink="rented-car-list" routerLinkActive="active">
      <i class="fas fa-credit-card"></i>
      Rented Car
    </a>
  
    <a routerLink="/transactions" routerLinkActive="active">
      <i class="fas fa-exchange-alt"></i>
      Transactions
    </a>
  
    <a routerLink="/car-report" routerLinkActive="active">
      <i class="fas fa-chart-line"></i>
      Car Report
    </a>
  
    <!-- Logout Button -->
    <a routerLink="/logout" class="logout mt-auto p-3 "(click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
      Logout
    </a>
  </div>
  