<div class="today-stats p-3 p-3 bg-white rounded shadow-sm">

  <!-- Date Display -->
  <div class="date-display">
    <h5>Today's Statistics</h5>
    <p>{{ currentDate | date: 'fullDate' }}, {{ currentTime }}</p>
  </div>

  <!-- Income Section -->
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Total Revenue</h5>
      <h4>{{revenues.totalRevenue | currency:'LKR.'}}</h4>

    </div>
  </div>

  <!-- Expenses Section -->
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Total Ongoing Revenue</h5>
      <h4>{{revenues.totalOngoingRevenue | currency:'LKR.'}} </h4>

    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Total Number of Cars</h5>
      <h4>{{revenues.totalCars}} </h4>

    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Total Number of Customers</h5>
      <h4>{{revenues.totalCustomers}} </h4>

    </div>
  </div>
</div>