 
   
 

  <div class="footer mt-5 bg-white text-dark   bg-dark">
  <footer class="container mt-4">
    <div class="row">
      <!-- Column 1 -->
      <div class="col-12 col-sm-6 col-md-4 mb-3 text-center">
        <div class="footer-logo mb-3 text-primary">Drive X</div>
        <!-- <img src="BGR car (2).png" alt="Logo" class="footer-logo mb-3" width="200px" height="60px"> -->

          <p>57 Heol Isaf Station Road,<br>Cardiff, UK</p>
          <p><a href="mailto:infoexample.com" class="footer-link text-dark">infoexample.com</a></p>
          <p><a href="tel:029-2021-4012" class="footer-link text-dark">029-2021-4012</a></p>
      </div>
      
      <!-- Column 4 (contains Column 2 and Column 3) -->
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="row">
          <!-- Column 2 -->
          <div class="col-6 text-center ">
            <h6 class="footer-title  text-dark">Resources</h6>
            <p><a href="#" class="footer-link text-dark">About Us</a></p>
            <p><a href="#" class="footer-link text-dark">Gallery</a></p>
            <p><a href="#" class="footer-link text-dark">Our Team</a></p>
            <p><a href="#" class="footer-link text-dark">Pricing</a></p>
            <p><a href="#" class="footer-link text-dark">Contact</a></p>
          </div>
          
          <!-- Column 3 -->
          <div class="col-6 text-center">
            <h6 class="footer-title text-dark">Community</h6>
          <p><a href="#" class="footer-link text-dark">Area Details</a></p>
          <p><a href="#" class="footer-link text-dark">Blog Grid</a></p>
          <p><a href="#" class="footer-link text-dark">FAQ</a></p>
          <p><a href="#" class="footer-link text-dark">Service Areas</a></p>
          <p><a href="#" class="footer-link text-dark">Testimonials</a></p>
          </div>
        </div>
      </div>
      
      <!-- Column 5 -->
      <div class="col-xl- col-sm-6 col-md-4 mb-3 mt-2 text-center align-items-center">
        <h6 class="footer-title">Subscribe to Our Newsletter</h6>
          <p>Stay updated on our latest news and offers</p>
          <form class="subscribe-form d-flex">
            <input type="email" class="form-control bg-ligth" placeholder="Enter your email address">
            <button type="submit" class="btn bg-primary">Subscribe</button>
          </form>
      </div>
    </div>


    <div class="footer-bottom mt-4 d-flex flex-column flex-md-row align-items-center justify-content-between">
      <p class="mb-2 mb-md-0 text-dark">Copyright © 2024 <span class="footer-logo text-primary">Drive X</span>, Inc. All Rights Reserved</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>

  </footer>
  </div>
  
  